
:root {
  --text-color: #4F4F4F;
  --border-color: #c4c4c4;
  --primary-color: #28a745;
  --primary-color-shade:#4285f4;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --white-color: #ffffff;
  --white-shade: floralwhite;
    --smoky-black: rgba(#222222, .85);
    --bdrds: 3px;
}
/* #4caf50 */
.App {
  
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-centerHor {
  display: flex;
  justify-content: center;
}
.pd-vsmall{
  padding: 5px;
}

.pd-small{
  padding: 1rem
}
.text-white{
  color: var(--white-color)
}
.mg-top-big{
  margin-top: 15px;
}

.mg-rt-small{
  margin-right: 5px;
}