.sign-container{
    background-image: linear-gradient(to right bottom,
    rgba(40, 168, 70, 0.8),
    rgba(0, 0, 0, 0.49)),
    url(./assets/signIn-bck.jpg);
    max-height: 100vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.sign-container__block{
   
    /* width: 10%; */
    width: 70%;
    height: 30%;
    background-color: var(--dark-color);
    color: var(--white-color);
    border-radius:  var(--bdrds);
    padding: 3rem;
    display: flex;
    align-items: center;
}
.sign-container__block-info--right{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.form-card{
    width: 35%;
    height: 51%;
    background-color: var(--white-shade);
    text-align: center;
}
.form-card--left{
    left: 5%;
    position: absolute;
    animation: moveInRight 1s forwards
}
.form-card--right{
    right: 11%;
    position: absolute;
     animation: moveInLeft 1s forwards
}
.form-heading {
    color: var(--primary-color)
}
.password-container{
    position: relative;
}
.password-container__container{
    position: absolute;
    z-index: 1;
    right: 15%;
    top: 15%;
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    80% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}